<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign Up</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input class="form-control rounded" formControlName="username" id="username" type="text" placeholder="Username" required />
            <small *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched" class="text-danger">Username is required.</small>
          </div>

          <div class="form-group">
            <input class="form-control rounded" formControlName="password" id="password" type="password" placeholder="Password" required />
            <small *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="text-danger">
              Password must be at least 6 characters long, contain 1 digit, 1 uppercase letter, and 1 special character.
            </small>
          </div>

          <div class="form-group">
            <input class="form-control rounded" formControlName="passwordRepeat" id="passwordRepeat" type="password" placeholder="Confirm Password" required />
            <small *ngIf="registerForm.hasError('passwordsMismatch')" class="text-danger">Passwords do not match.</small>
          </div>

          <div class="form-group">
            <input class="form-control rounded" formControlName="firstName" id="firstName" type="text" placeholder="First Name" required />
            <!-- Error message for First Name -->
            <small *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched" class="text-danger">
              First Name is required and must contain only alphabetic characters.
            </small>
          </div>
          
          <div class="form-group">
            <input class="form-control rounded" formControlName="lastName" id="lastName" type="text" placeholder="Last Name" required />
            <!-- Error message for Last Name -->
            <small *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched" class="text-danger">
              Last Name is required and must contain only alphabetic characters.
            </small>
          </div>
          
          <div class="form-group">
            <input class="form-control rounded" formControlName="email" id="email" type="email" placeholder="Email" required />
            <!-- Error message for Email -->
            <small *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-danger">
              A valid email address is required.
            </small>
          </div>
          

          <div class="form-group">
            <input class="form-control rounded" formControlName="phone" id="phone" type="text" placeholder="Phone" (input)="onPhoneInput($event)" />
            <small *ngIf="registerForm.controls['phone'].invalid && registerForm.controls['phone'].touched" class="text-danger">
              Phone must start with 2, 4, 5, 7, 9, or 3 and be followed by 7 digits.
            </small>
          </div>
          
          

          <div class="form-group">
            <input class="form-control rounded" formControlName="address" id="address" type="text" placeholder="Address" />
            <small *ngIf="registerForm.controls['address'].invalid && registerForm.controls['address'].touched" class="text-danger">Address is required and can contain spaces.</small>
          </div>

          <div class="form-group">
            <input class="form-control rounded" formControlName="birthday" id="birthday" type="date" placeholder="Date of Birth" />
            <small *ngIf="registerForm.controls['birthday'].invalid && registerForm.controls['birthday'].touched" class="text-danger">You must be at least 12 years old.</small>
          </div>

          <button class="btn btn-primary shadow-2 mb-4 w-100" [disabled]="registerForm.invalid">Register</button>
        </form>

        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
