<!-- reset-password.component.html -->
<div class="reset-password-container">
 
 
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <h2>Password Reset</h2>
    <div class="image-container">
      <img src="assets/images/reset.png" alt="Lock Icon" class="reset-image" />
  </div>
    <div>
     
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your new password"
      />
      <div *ngIf="password.invalid && password.touched" class="error-message">
        Password is required.
      </div>
    </div>

    <div>
     
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirm your new password"
      />
      <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error-message">
        Passwords must match.
      </div>
    </div>

    <button type="submit" [disabled]="resetPasswordForm.invalid">
      Reset Password
    </button>
  </form>
</div>
