<div class="col-xl-12">
    <app-card cardTitle="Study Plan List" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>instructeur </th>
              <th>validite </th>
              <th>Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let certificat of listC; let i = index">

              <td>{{ certificat.nom }}</td>
              <td>{{ certificat.instructeur }}</td>
              <td>{{ certificat.validite }}</td>
              

              <td>
                <button type="button" class="btn btn-icon btn-rounded btn-outline-danger" (click)="supprimercertificat(certificat.id)">
                <i class="feather icon-slash"></i>
              </button>
              <button type="button" class="btn btn-icon btn-rounded btn-outline-success" [routerLink]="['/cours/updatecertificat',certificat.id]" >
                <i class="feather icon-check-circle"></i>
                </button>
              </td> 

            </tr>
          </tbody>
        </table>

      </div>
    </app-card>
  </div>
  