<app-card cardTitle="Certificat Form" [options]="false">
    <h5 class="mt-5">Add certificat</h5>
    <hr />
    <form [formGroup]="formR"   >

      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Entrer le nom du certificat" />
      </div>
  
      <div class="row">
        <div class="form-group col-md-6">
          <label for="instructeur">Instructeur</label>
          <input type="text" class="form-control" id="instructeur" formControlName="instructeur" placeholder="Abdallah Saidane" />
        </div>
        <div class="form-group col-md-6">
          <label for="validite">Validite</label>
          <input type="text" class="form-control" id="validite" formControlName="validite" placeholder="1 = 1 mois , 2 = 2 mois .etc" />
        </div>
        <div class="form-group col-md-6">
            <label for="statut">Statut</label>
            <input type="text" class="form-control" id="statut" formControlName="statut" placeholder="1 = valide  , 0 = invalide " />
        </div>
        <div class="form-group col-md-6">
            <label for="niveau">Niveau</label>
            <input type="text" class="form-control" id="niveau" formControlName="niveau" placeholder="BASIQUE, INTERMEDIAIRE, AVANCE" />
        </div>
      </div>

  
      <button type="submit" (click)="add()" class="btn btn-primary mt-3">Add certificat </button>
    </form>
  </app-card>
  