<p>dsgffffffffff</p>
<div class="dashboard-container">
  <h1>Applications List</h1>

  <!-- Check if there are any applications to display -->
  <div *ngIf="applications && applications.length > 0; else noDataTemplate">
    <table class="applications-table">
      <thead>
      <tr>
        <th>Status</th>
        <th>Student ID</th>
        <th>Motivated Letter</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let application of applications">
        <td>{{ application.status }}</td>
        <td>{{ application.studentId }}</td>
        <td>{{ application.motivatedlettre }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Template for when no applications are available -->
  <ng-template #noDataTemplate>
    <p>No applications available.</p>
  </ng-template>
</div>
