<div class="col-xl-12">
    <app-card cardTitle="Study Plan List" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>description</th>
              <th>Questions </th>
              <th>Choix</th>
              <th>Reponse correcte</th>
            
              <th>Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let test of listT; let i = index">

              <td>{{ test.description }}</td>
              
              <!-- Questions -->
            <td>
                <ul class="mb-0">
                  <li *ngFor="let q of splitTestDetails(test)">
                    {{ q.question }}
                  </li>
                </ul>
              </td>
  
              <!-- Choix -->
              <td>
                <ul class="mb-0">
                  <li *ngFor="let q of splitTestDetails(test)">
                    <ul>
                      <li *ngFor="let ch of q.choices">{{ ch }}</li>
                    </ul>
                  </li>
                </ul>
              </td>
  
              <!-- Réponses correctes -->
              <td>
                <ul class="mb-0">
                  <li *ngFor="let q of splitTestDetails(test)">
                    {{ q.correct }}
                  </li>
                </ul>
              </td>

            

              <td>
                <button type="button" class="btn btn-icon btn-rounded btn-outline-danger" (click)="supprimercours(test.id)">
                <i class="feather icon-slash"></i>
                </button>

                <button type="button" class="btn btn-icon btn-rounded btn-outline-success" [routerLink]="['/cours/updatetest',test.id]" >
                <i class="feather icon-check-circle"></i>
                </button> 
              </td>


            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  